body, html {
    background-color: #36393f;
    width: 100%;
    height: 100%;
    color: white;
}

.container-fluid {
    width: 100%;
    height: 100%;
}

table.dataTable tbody tr {
  background-color: #343a40;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #fff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
  color: #fff !important;
}

h1{
  font-size: 25px;
  text-align: center;
  color: #55575d;
}

a {
  padding-right: 10px;
}


.cover {
  width: 15%;
}


.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #5c5959;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}


.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}


.zz {
    background-color: #2d2c2c;
}
